<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EBW</title>
</head>
<body>
<h1>Прогнозирование размеров сварного шва при электронно-лучевой</h1>
<h1>сварке тонкостенных конструкций аэрокосмического назначения</h1>
<p>Исполнитель: Боброва Е.Ю., гр. 12434/1</p>
<h1>____________________________________________________________</h1>
<h2>Введите значения признаков</h2>
<form action="" method="post">
   <h3>Величина сварочного тока</h3>
    <p>
        <label for="IW">IW</label>
        <input type="text" name="IW">
    </p>
    <h3>Ток фокусировки электронного пучка</h3>
    <p>
        <label for="IF">IF</label>
        <input type="text" name="IF">
    </p>
    <h3>Cкорость сварки</h3>
    <p>
        <label for="VW">VW</label>
        <input type="text" name="VW">
    </p>
    <h3>Расстояние от поверхности до электронно-оптической системы</h3>
    <p>
        <label for="FP">FP</label>
        <input type="text" name="FP">
    </p>
    <p>
        <input type="submit" value="Отправить">
    </p>
    <h1>____________________________________________________________</h1>
    <h2>Результат прогнозирования</h2>
    {% if message %}
    <h3>{{message}}</h3>
    {% endif %}
    <style>body {
    background-image: url("https://abrakadabra.fun/uploads/posts/2022-03/1647524795_1-abrakadabra-fun-p-zadnii-fon-svetlii-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   }
</style>
</form>
</body>
</html>
